* {
  margin: 0;
  padding: 0;
}
h2 {
  font-style: italic;
}
section {
  margin-bottom: 5px;
  margin-top: 5px;
}
/* Header */
header {
  text-align: center;
  font-size: 125%;
}
img {
  height: 200px;
  width: 200px;
}
/* summary */
#summary {
  background-color: aqua;
}
#employment {
  background-color: blue;
}
/* Skill */
table tr,
td,
th {
  border: 1px solid gray;
  border-collapse: collapse;
}
/* Contact */
input:hover {
  background-color: violet;
}
button {
  border-radius: 8px;
  background-color: cadetblue;
}
