* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #eee;
}
/* Heading starts here */
.container {
  background-color: #e4f9f5;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
.cvimg {
  height: 100 px;
  width: 120px;
  border: 3px solid black;
  border-radius: 50%;
  float: left;
}
.header-bio {
  float: left;
  padding: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #11999e;
}
.header-contact {
  float: right;
  padding: 30px;
}
.header-contact a {
  text-decoration: none;
  color: teal;
  font-weight: bold;
}
.header-contact a:hover {
  text-decoration: underline;
  color: tomato;
}
.clrdiv {
  clear: both;
}
hr {
  border: 3px solid black;
  width: 100%;
  margin: 20px auto;
  border-bottom: none;
}
/* Header ends here */

/* Personal section starts here */
.content {
  margin-bottom: 30px;
}
.left-div {
  width: 30%;
  float: left;
}
.right-div {
  width: 70%;
  float: right;
}
.common-hr {
  border: solid black 1px;
  border-bottom: none;
  width: 100%;
  margin: 20px auto;
}
/* Personal section ends here */

/* Education starts here */
.edu-template-left {
  float: left;
  width: 45%;
}
.edu-template-right {
  float: right;
  width: 45%;
}
/* Education ends here */

/* Footer starts here */
.footer {
  background-color: black;
  text-align: center;
  padding: 10px;
}
.footer a {
  color: white;
  text-decoration: none;
  margin: 20px;
}
.footer a:hover {
  text-decoration: underline;
  color: tomato;
}
.footer p {
  color: white;
  margin-top: 20px;
}
/* Footer ends here */
